*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    border: solid;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_div{
    
    border: solid;
}


.cal{
    display: flex;
    gap: 5em;
}