*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    border: solid;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        /* font-weight: <weight>; */
        font-style: normal;
        color: ;
}

.main_div{
    
    border: solid;
    margin-inline: 23.5em;
}

.head{
    margin-block: .5em;
      font-family: "Young Serif", serif;
        font-weight: 400;
        font-style: normal;
        
}



.first_com{
    margin-bottom: 2em; 
}


.prep_time{
    background-color:hsl(330, 100%, 98%);
    padding-inline: 3em;
   
}

.sub_head{
    color: hsl(332, 51%, 32%);
    margin-bottom: 1em;
    font-weight: 700 ;
}

.first_list{
    padding-left: 2em;
}
  .list_item{
    padding-bottom: .7em;
  }

  b{
    margin-left: 1em;
  }
.list_head{
    font-weight: 600;
    
}


h2{
    margin-block: .5em;
    font-family: "Young Serif", serif;
        font-weight: 400;
        font-style: normal;
        color: hsl(332, 51%, 32%);
}

.ingre, .instru , .nutri{

    border-bottom: solid .1px;
    padding: 2em;
    
}

.nut_name{
    font-weight: 400;
}

.ingre_list{
    padding-left: 1.5em;
}

.nutri_par{
    padding-bottom: 1em;
}

.cal_num{
    /* border: solid; */
    margin-left: 5em;
    color: hsl(332, 51%, 32%);
    font-weight: 600;
    
}

.carbs{
    margin-left: 6em;
}

.protein{
    margin-left: 5.4em ;
}

.fat {
    margin-left: 7em;
}
.cal{
    border-bottom: solid .1px;
    display: flex;
    gap: 5em;
    padding-block: 0.5em;
    padding-left: 2em;
}