*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    /* border: solid; */
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        /* font-weight: <weight>; */
        font-style: normal;
        color: hsl(30, 10%, 34%);
        background-color: hsl(30, 54%, 90%);
}

.main_div{
    
    background-color: hsl(0, 0%, 100%);
    border-radius: 2em;
    margin-inline: 25em;
}
img{
    /* border: solid; */
    margin: 2em;
    border-radius: 2em;
}

.head{
    margin: .5em 0em 0em .5em ;
      font-family: "Young Serif", serif;
        font-weight: 400;
        font-style: normal;
        color: hsl(24, 5%, 18%);
        
}



.first_com{
    margin: 1.5em;
    font-size: 12.5px;
    font-weight: 400;
}


.prep_time{
    background-color:hsl(330, 100%, 98%);
    margin-inline: 1em;
    padding-inline: 2em;
font-size: 12.5px;
   
}

.sub_head{
    color: hsl(332, 51%, 32%);
    margin-bottom: 1em;
    font-weight: 700 ;
}

.first_list{
    padding-left: 2em;
}
  .list_item{
    padding-bottom: .7em;
  }

  b{
    margin-left: 1em;
  }
.list_head{
    font-weight: 600;
    
}


h2{
    margin-block: .5em;
    font-family: "Young Serif", serif;
        font-weight: 400;
        font-style: normal;
        color: hsl(332, 51%, 32%);
        
}

.ingre, .instru , .nutri{

    border-bottom: solid .1px;
    padding: 2em;
    margin-inline: .5em;
    
}

.nut_name{
    font-weight: 400;
}

.ingre_list{
    padding-left: 1.5em;
    font-size: 12.5px;
}

.nutri_par{
    padding-bottom: 1em;
    font-size: 12.5px;
}

.nutrition_list{
    font-size: 12.5px;
}

.cal_num{
    /* border: solid; */
    margin-left: 5em;
    color: hsl(332, 51%, 32%);
    font-weight: 600;
    
}

.carbs{
    margin-left: 6em;
}

.protein{
    margin-left: 5.4em ;
}

.fat {
    margin-left: 7em;
}
.cal{
    border-bottom: solid .1px;
    display: flex;
    gap: 5em;
    padding-block: 0.5em;
    padding-left: 2em;
}